<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/shinyForm.css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="login-form">
            <form action="/action_page.php">
                <div class="form-code">
                    <label for="email" class="label">Email</label><br>
                    <input type="email" class="text-form" id="email">
                </div>
                <div class="form-code">
                    <label for="Password" class="label">Password</label><br>
                    <input type="Password" class="text-form" id="Password">
                </div>
                <button type="submit" class="btn btn-default">LogIn</button>
            </form>
        </div>
    </div>
</body>
</html>